.layout {
  width: 720px;
  height: 100%;

  margin: auto;

  text-align: center;
}

.header {
  height: 120px;
}

.contents {
  height: calc(100% - 120px);

  display: flex;
  justify-content: space-between;
}

.left {
  width: 120px;
  height: 100%;
}

.center {
  width: 360px;
  height: 100%;
}

.right {
  width: 120px;
  height: 100%;

  margin: 0;
  padding: 0;
}

.listItem {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 12px;

  margin-bottom: 8px;
}

.number {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
  display: flex;
  justify-content: center;
  gap: 8px;
}
